<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Horse Expert</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body> 
<center><h1 th:text="#{index.welcome}">Fellow Spring Framework Gurus!!!</h1>
<h3 th:text="${date}">Default Header</h3>
<h5 th:text="${version}">Default Header</h5></center>
	<span th:each="race : ${races}">
    	<h1><a href="/" th:href="${race.url}" target="_blank">
    	<p th:text="${race.time + ' ' + race.place}">Welcome</p></a></h1>
		<span th:each="horse : ${race.horses}">
    		<h3><a href="/" th:href="${horse.profile}" target="_blank">
    		<p th:text="${horse.number + ' ' + horse.name}">Welcome</p></a></h3>
    			<table border="2">
    			<tr><td th:each="past: ${horse.past}"><a href="/" th:href="${past.url}" target="_blank">
    					<span th:text="${past.date}">view</span></a>
    				</td>
    			</tr>
    			</table>
    	</span>
    </span>    
</body>
</html>